---
import Layout from "~/layouts/Layout.astro";
---

<Layout title="Astrolicious">
  <section class="bg-gradient-to-tr from-primary-700 to-primary-600">
    <div
      class="max-w-7xl px-2 mx-auto py-28 grid grid-cols-1 lg:grid-cols-3 gap-4 items-center"
    >
      <div class="col-span-2">
        <h1
          class="font-extrabold uppercase text-5xl sm:text-6xl text-white max-w-2xl font-heading"
        >
          An Astro focused community
        </h1>
        <p class="text-xl text-primary-200 mt-4">
          Integrations, components, websites, events and more!
        </p>
        <div class="mt-12 inline-flex items-center gap-4">
          <a
            href="/projects"
            class="bg-white shadow-xl shadow-primary-500 px-6 py-3 block font-heading uppercase text-primary-950 font-extrabold rounded-lg hover:bg-primary-100 hover:shadow-lg hover:shadow-primary-500 transition-all"
          >
            Explore projects
          </a>
          <a
            href="/submit"
            class="bg-white shadow-xl shadow-primary-500 px-6 py-3 block font-heading uppercase text-primary-950 font-extrabold rounded-lg hover:bg-primary-100 hover:shadow-lg hover:shadow-primary-500 transition-all"
          >
            Submit a project
          </a>
        </div>
      </div>
      <div>Random project picker</div>
    </div>
  </section>
</Layout>
