---
import Layout from "~/layouts/Layout.astro";
---

<Layout title="Projects">
  <h1 class="text-center mt-14 font-heading uppercase font-extrabold text-2xl">
    Projects
  </h1>
  <p>Coming soon</p>
</Layout>
