---
import type { CollectionEntry } from 'astro:content';

interface Props {
	friend: CollectionEntry<'friends'>;
	class?: string;
}

const { friend, class: className } = Astro.props;
const { name, logo, url, slogan } = friend.data;
---

<div
  class:list={[
    "bg-white p-4 rounded-2xl border border-gray-200 shadow-sm relative",
    className,
  ]}
>
  <a href={url} class="grid grid-cols-[1fr_2fr] items-center gap-[1ch]">
    <div class="flex justify-center items-center">
      <img class="w-20 h-20 object-contain" src={logo} alt={name + " logo"} />
    </div>
    <h2
      class="font-extrabold uppercase text-2xl text-primary-950 max-w-2xl font-heading text-balance"
    >
      {name}
    </h2>
    <div class="mt-2 text-gray-700 col-[span_2] text-pretty">
      {slogan ?? ""}
    </div>
  </a>
</div>
