---
import { Icon } from "astro-icon/components";

export interface Props {
  activeTab: "blog" | "docs";
  as?: "header" | "div";
}

const { activeTab } = Astro.props;
const Element = Astro.props.as || "header";
---

<Element class="flex flex-col py-2 px-4 rounded-lg bg-slate-50 m-4 gap-2">
  <div class="flex items-center justify-between">
    <a href="/" class="font-bold">Astrolicious</a>
    <nav class="flex gap-4">
      <a
        href="/blog"
        class:list={[
          "inline-flex items-center justify-center p-0.5 overflow-hidden font-medium rounded-lg text-transparent bg-clip-text",
          {
            "bg-gray-900 bg-gradient-to-br hover:from-pink-500 hover:to-orange-400":
              activeTab !== "blog",
            "bg-gradient-to-br from-pink-500 to-orange-400":
              activeTab === "blog",
          },
        ]}
      >
        Blog
      </a>
      <a
        href="/docs"
        class:list={[
          "inline-flex items-center justify-center p-0.5 overflow-hidden font-medium rounded-lg text-transparent bg-clip-text",
          {
            "bg-gray-900 bg-gradient-to-br hover:from-pink-500 hover:to-orange-400":
              activeTab !== "docs",
            "bg-gradient-to-br from-pink-500 to-orange-400":
              activeTab === "docs",
          },
        ]}
      >
        Docs
      </a>
    </nav>
    <section class="flex gap-1 text-gray-500">
      <a
        href="https://twitter.com/astroliciousdev"
        class="hover:text-gray-800"
        target="_blank"
        aria-label="Twitter"
      >
        <Icon name="ri:twitter-x-line" />
      </a>
      <Icon name="ph:dot-duotone" />
      <a
        href="https://github.com/astrolicious"
        class="hover:text-gray-800"
        target="_blank"
        aria-label="GitHub"
      >
        <Icon name="ri:github-line" />
      </a>
      <Icon name="ph:dot-duotone" />
      <a
        href="https://chat.astrolicious.dev"
        class="hover:text-gray-800"
        target="_blank"
        aria-label="Discord"
      >
        <Icon name="ri:discord-line" />
      </a>
    </section>
  </div>

  <slot />
</Element>
