---
import type { CollectionEntry } from 'astro:content';
import { Icon } from 'astro-icon/components';

interface Props {
	project: CollectionEntry<'projects'>;
	class?: string;
}

const { project, class: className } = Astro.props;
const { name, kind, links } = project.data;
const { Content } = await project.render();

const hasLinks = Object.keys(links).length > 0;
---

<div
  class:list={[
    "bg-white p-4 rounded-2xl border border-gray-200 shadow-sm",
    className,
  ]}
>
  <div class="flex justify-between items-center">
    <p
      class="bg-primary-300 px-1.5 py-0.5 rounded-full text-sm capitalize leading-5 text-primary-950"
    >
      {kind}
    </p>
    {
      hasLinks && (
        <div class="flex items-center gap-1">
          {links.github && (
            <a
              href={links.github}
              target="_blank"
              class="p-1 font-extrabold uppercase text-lg rounded-full hover:bg-primary-200 transition-colors text-primary-950"
            >
              <Icon name="ri:github-fill" class="size-5" />
              <span class="sr-only">GitHub repository</span>
            </a>
          )}
          {links.website && (
            <a
              href={links.website}
              target="_blank"
              class="p-1 font-extrabold uppercase text-lg rounded-full hover:bg-primary-200 transition-colors text-primary-950"
            >
              <Icon name="ri:global-fill" class="size-5" />
              <span class="sr-only">Website</span>
            </a>
          )}
        </div>
      )
    }
  </div>
  <h2
    class="font-extrabold uppercase text-2xl text-primary-950 max-w-2xl font-heading"
  >
    {name}
  </h2>
  <div class="mt-2 text-gray-700">
    <Content />
  </div>
</div>
