---
import type { Props } from '@astrojs/starlight/props';

import Search from '@astrojs/starlight/components/Search.astro';

import Header from './Header.astro';
---

<Header as="div" activeTab="docs">
  <div class="flex justify-center">
    <Search {...Astro.props} />
  </div>
</Header>
