---
import type { GetStaticPaths } from "astro";
import { getCollection } from "astro:content";
import Layout from "~/layouts/Layout.astro";

export const getStaticPaths = (async () => {
  const posts = await getCollection("blog");
  return posts.map((post) => ({
    params: {
      slug: post.slug,
    },
    props: {
      post,
    },
  }));
}) satisfies GetStaticPaths;

const { post } = Astro.props;
const { Content } = await post.render();
---

<Layout title={post.data.title}>
  <div class="max-w-7xl p-2 mx-auto">
    <div class="prose my-8">
      <h1>{post.data.title}</h1>
      <Content />
    </div>
  </div>
</Layout>
