---
import { getCollection, type CollectionEntry } from 'astro:content';
import ArticleCard from '~/components/ArticleCard.astro';
import Layout from '~/layouts/Layout.astro';

const title = 'Articles';
const articles = await getCollection('blog', ({ data }) => {
	return import.meta.env.PROD ? data.draft !== true : true;
});
const byPublishDate = (
  post1: CollectionEntry<"blog">,
  post2: CollectionEntry<"blog">
) => {
  const post1Date = post1.data.publishDate;
  const post2Date = post2.data.publishDate;

  return post2Date.getTime() - post1Date.getTime();
};
---

<Layout {title}>
  <div class="max-w-7xl mx-auto px-2 py-12">
    <h1
      class="font-extrabold uppercase text-5xl sm:text-6xl text-primary-950 max-w-2xl font-heading"
    >
      {title}
    </h1>
    <div class="grid grid-cols-1 sm:grid-cols-2 gap-2 mt-8">
      {articles.sort(byPublishDate).map((article) => <ArticleCard {article} />)}
    </div>
  </div>
</Layout>
