---
import { getCollection } from "astro:content";
import Card from "~/components/Card.astro";
import Layout from "~/layouts/Layout.astro";

const publishedPosts = await getCollection("blog", ({ data }) => {
  return import.meta.env.PROD ? data.draft !== true : true;
});
---

<Layout title="Articles">
  <ul class="flex flex-col gap-6 mt-4">
    {
      publishedPosts.map((post) => {
        return (
          <li>
            <Card
              title={post.data.title}
              link={`/blog/${post.slug}`}
              author={{ name: "Alex" }}
            />
          </li>
        );
      })
    }
  </ul>
</Layout>
