---
import { Submission, db } from "astro:db";
import { createForm, validateForm } from "simple-stack-form/module";
import z from "zod";
import Layout from "~/layouts/Layout.astro";

export const prerender = false;

const submissionForm = createForm({
  integrationURL: z.string().min(1),
  authorURL: z.string().min(1),
  isAuthor: z.boolean(),
  message: z.string().optional(),
});

if (Astro.request.method === "POST") {
  try {
    const formData = await Astro.request.formData();
    const parsed = await validateForm({
      formData,
      validator: submissionForm.validator,
    });
    if (parsed.data) {
      await db.insert(Submission).values({
        integration_url: parsed.data.integrationURL,
        author_url: parsed.data.authorURL,
        is_author: parsed.data.isAuthor,
        message: parsed.data.message ?? null,
      });
      return Astro.redirect("/submit/success");
    }
    console.warn(parsed.fieldErrors);
  } catch (error) {
    if (error instanceof Error) {
      console.error(error.message);
    }
  }
}

const title = "Submit a project for Astrolicous";
---

<Layout {title}>
  <div class="max-w-7xl mx-auto px-2 py-12">
    <h1
      class="font-extrabold uppercase text-5xl sm:text-6xl text-primary-950 max-w-2xl font-heading"
    >
      {title}
    </h1>

    <form method="POST" class="flex flex-col max-w-2xl mt-8">
      <div class="mb-3 flex flex-col">
        <label for="integrationURL"
          >URL of the project. (URL should show purpose of Project) *</label
        >
        <input
          id="integrationURL"
          {...submissionForm.inputProps.integrationURL}
          required
        />
      </div>

      <div class="mb-3 flex flex-col">
        <label for="authorURL"
          >URL of the Author. (URL should allow to a contact, e.g. GitHub, Mail,
          Discord) *</label
        >
        <input
          id="authorURL"
          {...submissionForm.inputProps.authorURL}
          required
        />
      </div>

      <div class="mb-3 flex items-center gap-2">
        <label for="isAuthor">Are you the Author?</label>
        <input
          id="isAuthor"
          class="text-primary-600"
          {...submissionForm.inputProps.isAuthor}
        />
      </div>

      <div class="mb-3 flex flex-col">
        <label for="isAuthor">Do you want to add a message?</label>
        <input id="isAuthor" {...submissionForm.inputProps.message} />
      </div>

      <button
        class="mt-4 block w-full rounded-md bg-primary-600 text-white p-2 font-heading text-lg font-extrabold uppercase hover:bg-primary-700 transition-colors focus:ring-0"
      >
        Submit
      </button>
    </form>
  </div>
</Layout>
