---
import Layout from "~/layouts/Layout.astro";
---

<Layout title="Submission confirmation">
  <h1 class="text-center mt-14 font-heading uppercase font-extrabold text-2xl">
    Submission received!
  </h1>
</Layout>
