---
import Layout from '~/layouts/Layout.astro';

const title = 'Submission received, thank you!';
---

<Layout {title}>
  <div class="max-w-7xl mx-auto px-2 py-12">
    <h1
      class="font-extrabold uppercase text-5xl sm:text-6xl text-primary-950 max-w-2xl font-heading"
    >
      {title}
    </h1>
  </div>
</Layout>
